@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, black;
}



.modal-fix {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 999999 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(4px) !important;
}